.not-found{
    background-color: #ffe7e8;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 100px;
    justify-self: center;
    margin-top: 0.7%;
    border-radius: 50% 20% / 28% 30%;
}

.dashed {
    --b: 5px;
    /* border thickness */
    --s: 30px;
    /* size of the dashes */
    --c1: rgb(244, 46, 112);
    --c2: rgb(238, 127, 168);

    width: 300px;
    aspect-ratio: 1;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Sour Gummy', Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.dashed p {
    font-size: 20px;
    font-family: 'Delius', Arial, Helvetica, sans-serif;
}

.dashed::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: var(--b);
    background:
        repeating-conic-gradient(var(--c1) 0 25%, var(--c2) 0 50%) 0 0/var(--s) var(--s) round;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    border-radius: 25% 11%;
}