.delete-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20%;
}

.delete-btn >.btn {
    min-width: 20%;
    max-width: 40%;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    box-shadow: 2px 4px 25px var(--cherry-blossom-pink);
    background: var(--background);
    padding: 18px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    text-align: center;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

.modal-content h2 {
    font-size: 24px;
    margin-top: 30px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.close-modal {
    background: transparent;
    border-color: transparent;
    font-size: 20px;
    cursor: pointer;
    border-style: hidden;
    color: var(--text-color);
}