.space-name {
    font-size: 2.5rem;
    font-family: 'Delius', cursive;
}

.space-page {
    padding: 2rem;
    /* background-color: var(--blue-text); */
}

.space-page h1 {
    text-align: center;
}

.no-posts {
   color: var(--grungy-red);
   text-align: center;
}