
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Delius', 'Noto Sans' Arial, Helvetica, sans-serif;
}
.navbar {
  background-color: pink;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
  text-align: center;
  padding: 0 10% 0 5%;
}

.logo {
  text-align: center;
  flex-grow: 0.5;
  text-shadow: -3px -1px 0 coral;
  cursor: pointer;
  text-decoration: dashed;
  color: #f8f8f8;
}

.auth-buttons a {
  background-color: white;
  color: pink;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background 0.3s ease, color 0.3s ease;
  margin: 8px;
  text-decoration: none;
}
.auth-buttons a:hover {
  background-color: #BF4974;
  color: white;
  cursor: pointer;
}

.posts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-self: anchor-center;
  align-content: center;
  font-family: 'Sour Gummy', Arial, Helvetica, sans-serif;
  color: #A61420;
  padding-top: 77px;
  min-height: 500px;
  padding: 10px;
}

.post {
  display: grid;
  flex-direction: column;
  width: 30%;
  min-height: 250px;
  border: 2px solid #ff6db1;
  border-radius: 25px;
  margin: 25px 15px 5px 15px;
  padding: 15px;
  flex: 1 1 calc(30% - 15px);

}

.post-info {
  display: flex;
  justify-content: center;
  gap: 50%;
  margin-top: auto;
}

@media  screen and (max-width: 1090px) {
  .post {
    display: flexbox;
    flex: calc(80% - 15px);
  }
}

.auth-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  font-family: 'Delius', Arial, Helvetica, sans-serif;
  color: #a61453;
}

.auth-box-content {
  background-color: #bf49742e;
  border-radius: 25px;
  border: 2px solid #a61464;
  padding: 10px 60px 55px 60px;
}

.input-field {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: relative;
}

.input-field > input {
  margin-top: 20px;
  padding: 10px 20px 10px 8px;
  border: 2px solid #A61420;
  border-radius: 15px;
}

.input-field > label {
  position: absolute;
  top: 28px;
  left: 10px;
}

.input-field > label:focus {
  top: 5px;
  font-size: 12px;
  color: #ff1493;
}