/* width */
::-webkit-scrollbar {
    width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ebb5b8c4;
    border-radius: 10px 100px / 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F7818Fff;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E84D5Aff;

    border-radius: 20px;
}