.toggle-theme{
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #BF2C47;
  top: 27px;
  right: 38%;
  position: absolute;
  cursor: pointer;
}

.toggle-theme:hover{
  color: #BF2C47;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.toggle-theme:focus{
  transition: all 0.3s ease-in-out;
}